<head><%include ../partials/head%></head>
<a href="/bird/new">create new bird records</a></br>
<a href="/user/edit">Edit user</a></br>
<a href="/user/delete">Delete User</a></br>
<a href="/logout">logout</a>
