<!doctype html>
<html lang="en" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>Chickbot | Your birds' best buddy</title>
	</head>
	<body>
		<h2>Your birds deserve much more</h2>
		<a href="/register">Create new user</a>
		<a href="/login">Login as a user</a>
		
	</body>
</html>
